<link rel="import"
      href="../aba-widget/aba-widget.html">
<link rel="import"
      href="../abas-widget-behavior/abas-widget-behavior.html">
<link rel="import"
      href="../abas-styles/abas-styles.html">
<link rel="import"
      href="../polymer/polymer.html">

<link rel="import"
      href="../auth0-authenticator/auth0-ajax.html">
<link rel="import"
      href="../abas-config/abas-config-meta.html">

<link rel="import"
      href="../paper-input/paper-input.html">
<link rel="import"
      href="../paper-card/paper-card.html">
<link rel="import"
      href="../paper-button/paper-button.html">

<link rel="import"
      href="../prism-event-bus/prism-event-bus.html">

<link rel="import"
      href="../abas-widget-style/abas-widget-style.html">

<link rel="import"
      href="../l2t-paper-color/l2t-paper-color.html">

<dom-module id="aba-last-products-widget">
    <template>
        <style include="abas-widget-style">
            paper-input {
                --paper-input-container-disabled: {
                    opacity: 1;
                }
            }

            .product-list {
                display: flex;
                flex-direction: column;
                overflow: auto;
                padding: 5px;
                height: calc(100% - 45px);
            }

            .card {
                display: grid;
                grid-template-columns: 60% auto;
                margin: 20px;
            }

            .card>.header {
                grid-row: 1;
                grid-column: 1;
                grid-column-start: span 2;
            }

            .card>.card-content {
                grid-row: 2;
                grid-column: 1;
                margin-right: 20px;
                display: block;
            }

            .card>.card-actions {
                grid-row: 2;
                grid-column: 2;
                justify-self: center;
                align-self: center;
            }

            .card-actions>paper-button {
                color: var(--accent-color);
            }

            .description {
                font-weight: 100;
            }

            .lastOrder {
                font-weight: 100;
                display: inline-flex;
            }

            .lastOrderLabel {
                font-weight: 400;
            }

            .noProduct {
                display: flex;
                flex-direction: column;
                padding: 5px;
            }

            .noProduct>h3 {
                font-weight: 200;
            }

            .widgettitle {
                color: #2A3539;
                font-size: 90%;
                font-weight: bold;
            }

            .table {
                display: table;
                width: 100%;
            }
            .tbody {
                display: table-row-group;
            }
            .tr {
                display: table-row;
            }
            .td {
                display: table-cell;
                padding: 0px 0px;
            }
            .td:last-child {
                float: right;
            }

            hr {
                background: #1BBBA3;
                height: 1px;
            }
        </style>


        <abas-config-meta data="{{configuration}}"></abas-config-meta>

        <auth0-ajax id="selection"
                    url="[[configuration.api.erpBaseURL]]/mw/r/[[company]]/obj/data/3:22/"
                    headers='{"accept":"application/abas.objects+json"}'
                    handle-as="json"
                    last-response="{{data}}"
                    on-response="_onSelectionResponse"
                    debounce-duration="300"></auth0-ajax>

        <aba-widget>
            <div slot="content"
                 title="">

                 <div class="table">
                    <div class="tbody">
                        <div class="tr">
                            <div class="td">
                                <div class="widgettitle">[[title]]</div>
                            </div>
                            <div class="td">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr/>

                <div class="product-list">
                    <template is="dom-repeat"
                              items="[[products]]">
                        <div class="card">
                            <div class="header">[[item.id]] - [[item.description]]</div>
                            <div class="card-content">
                                <div class="description">[[item.search]]</div>
                                <div class="lastOrder">
                                    <div class="lastOrderLabel">[[localize('lastOrder')]]</div>
                                    <div class="lastOrderDate"> [[item.orderhist]]</div>
                                </div>
                            </div>
                            <div class="card-actions">
                                <paper-button raised
                                              on-tap="_orderNow">[[localize('orderNow')]]</paper-button>
                            </div>
                        </div>
                    </template>
                    <template is="dom-if"
                              if="[[_isEmpty(products)]]">
                        <div class="noProduct">
                            <h3>[[localize('noProductEverPurchased')]]</h3>
                            <paper-button raised
                                          on-tap="_orderNow">[[localize('createNewOrder')]]</paper-button>
                        </div>
                    </template>
                </div>
            </div>
            <div slot="settingsForm">
                <dom-if if="[[editMode]]">
                    <template>
                        <paper-input label="[[localize('title')]]"
                                     type="text"
                                     on-change="titleChanged"
                                     value="{{title}}"></paper-input>
                        <paper-input label="[[localize('company')]]"
                                     on-change="companyChanged"
                                     type="text"
                                     value="{{company}}"></paper-input>
                        <paper-input label="[[localize('numberOfProducts')]]"
                                     on-change="numberOfItemsChanged"
                                     type="number"
                                     value="{{numberOfItems}}"></paper-input>
                        <paper-input label="[[localize('messageBusIn')]]"
                                     on-change="messageBusInChanged"
                                     type="text"
                                     value="{{messageBusIn}}"></paper-input>
                        <l2t-paper-color hide-advanced
                                         label="[[localize('topBarColor')]]"
                                         value="{{topBarColor}}"></l2t-paper-color>
                    </template>
                </dom-if>
            </div>
            <div slot="optionsMenu">
                <!-- Additonal settings menu items -->
            </div>
        </aba-widget>
    </template>

    <script>
        class AbaLastProductsWidget extends ABAS.WidgetBehavior(Polymer.Element) {
            static get is() { return 'aba-last-products-widget' }
            static get properties() {
                return {
                    title: {
                        type: String,
                        // observer: 'titleChanged'
                    },
                    company: {
                        type: String,
                        // observer: 'companyChanged'
                    },
                    messageBusIn: {
                        type: String,
                        observer: '_messageBusInChanged'
                    },
                    numberOfItems: {
                        type: Number,
                        // observer: 'numberOfItemsChanged'
                    },
                    topBarColor: {
                        type: String,
                        value: "",
                        observer: '_topBarColorChanged'
                    },
                    fallbackLanguage: {
                        value: "en"
                    }
                };
            }

            /**
              * Called every time the element is inserted into the DOM. Useful for 
              * running setup code, such as fetching resources or rendering.
              * Generally, you should try to delay work until this time.
              */
            connectedCallback() {
                super.connectedCallback();

                this.loadResources(this.resolveUrl(this.importPath + 'locales.json'));

            }

            _registerListener(newValue, oldValue, cb) {
                if (!!oldValue) {
                    PrismEventBus.unregister(this, [oldValue]);
                    this.removeEventListener(oldValue, cb);
                }
                if (!!newValue) {
                    PrismEventBus.register(this, [newValue]);
                    this.addEventListener(newValue, cb);
                }
            }

            _messageBusInChanged(newValue, oldValue) {
                this._registerListener(newValue, oldValue, e => {
                    this.objectID = e.detail.id;
                    this._getData();
                });
            }

            _topBarColorChanged() {
                this.updateStyles({ '--widget-top-border-color': this.topBarColor });

                this.fireAttributesUpdate([{
                    name: 'topBarColor',
                    value: this.topBarColor
                }]);
            }

            titleChanged() {
                this._attrChanged('title');
            }

            companyChanged() {
                this._attrChanged('company');
            }

            numberOfItemsChanged() {
                this._attrChanged('numberOfItems');
            }

            messageBusInChanged() {
                this._attrChanged('messageBusIn');
            }

            _attrChanged(name) {
                this.fireAttributesUpdate([{
                    name: name,
                    value: this[name]
                }]);
            }

            _getData() {
                this.$.selection.params = {
                    criteria: [`kunde2=${this.objectID}`, "@Filingmode=(Both)", "artikel^gruppe=1", "@Order=vom.r"].join(';'),
                    headFields: 'vom',
                    tableFields: ["artikel^nummer", "artikel^such", "artikel^namebspr", "artikel^foto", "mge", "he"].join(',')
                };
                this.$.selection.generateRequest();
            }

            _onSelectionResponse(e) {
                let products = [];
                let productList = [];
                let response = e.detail.response;

                if (response) {
                    let erpObjects = response.content.data.erpDataObjects;
                    for (let erpObject of erpObjects) {
                        let docDate = erpObject.head.fields.vom.text;
                        for (let item of erpObject.table) {
                            let nummer = item.fields['artikel^nummer'];
                            if (productList.indexOf(nummer.value) < 0) {
                                productList.push(nummer.value);
                                products.push({
                                    id: nummer.value,
                                    description: item.fields['artikel^namebspr'].value,
                                    search: item.fields['artikel^such'].value,
                                    orderhist: `${item.fields['mge'].text} ${item.fields['he'].text}${docDate ? ` on ${docDate}` : ""}`
                                });
                            }
                        }
                    }
                }

                this.products = products.slice(0, this.numberOfItems <= products.length ? (this.numberOfItems) : (products.length));
                this.notifySplices('products');
            }

            _orderNow(e) {

                let baseCmd = `<(Sales)><(New)>,(SalesOrder) ? kunde=${this.objectID} | [insert]=1`
                let cmd = "";

                let link = document.createElement("a");
                link.setAttribute('target', '_blank');

                if (e && e.model && e.model.item) {
                    // create new order just for that item
                    cmd = `${baseCmd} | 1:artikel=${e.model.item.id}`
                } else {
                    // create new order without item
                    cmd = `${baseCmd}`;
                }

                link.setAttribute('href', `/erp/?type=cmd&cmd=${encodeURIComponent(cmd)}&mandant=${this.company}`);
                link.click();

            }

            _isEmpty(array) {
                return array.length <= 0;
            }
        }
        customElements.define(AbaLastProductsWidget.is, AbaLastProductsWidget);
    </script>
</dom-module>